!!! XML
!!!
%html
  %head
    %title Roman Numeral Converter
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js"

    = javascript_include_tag "application"
    = stylesheet_link_tag    "application"
    = csrf_meta_tags

%body.tundra
  = yield